<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, inital-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>PyImageJ Particle Analysis</title>
    <link href ="styles/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="header">
        <header>
            <h1>PyImageJ Particle Image Analysis Application
            </h1>
        </header>
    </div>
    <div class="row">
        <div class="column left">
            <p>Upload Image</p>
            <form method="post" enctype="multipart/form-data">
                <input name="file" type="file" multiple webkitdirectory directory>
                <button type="submit">Upload</button>
            </form>
        </div>
        <div class="column right">
            <p>row1 column2</p>
        </div>
    </div>
    <div class="row">
        <p>row2</p>
    </div>


</body>
</html>